@model TP_CAISSE.ViewModel.CategoryDetailViewModel

<h2>@Model.Name</h2>

<h3>Produits associés</h3>
<table>
    <thead>
    <tr>
        <th>Nom du produit</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Name</td>
        </tr>
    }
    </tbody>
</table>